%p#notice= notice

%p
  %b= "#{t('.first_name')}:"
  = @user.first_name
%p
  %b= "#{t('.last_name')}:"
  = @user.last_name
%p
  %b= "#{t('.email')}:"
  = @user.email
%p
  %b= "#{t('.password')}:"
  = @user.password

= link_to t('.edit'), edit_user_path(@user)
\|
= link_to t('.back'), users_path
