- content_for :page_title do
  Property  
  %small= "(Id: #{@property.slug})"    
.pull-right#head_right
  = link_to 'Details', edit_property_path(@property), :id => 'edit_prop_lnk', :class => "btn btn-default#{action_name.eql?('edit') ? ' active' : ''}"
  = link_to 'Rates', rates_property_path(@property), :id => 'rat_prop_lnk', :class => "btn btn-default#{action_name.eql?('rates') ? ' active' : ''}"
  = link_to 'Pictures', pictures_property_path(@property), :id => 'pic_prop_lnk', :class => "btn btn-default#{action_name.eql?('pictures') ? ' active' : ''}"             
  = link_to 'Return to Properties', properties_path, :id => 'pic_prop_lnk', :class => "btn btn-default"             