- content_for :page_title do
  = t '.property'
  = link_to @property do
    %small= @property.slug
    
.thumbnail
  - if @property.pictures.empty?
    %center= link_to t('upload_a_picture'), property_pictures_path(@property), class: 'text-primary'
  - else
    = link_to @property do
      = image_tag @property.pictures.first.picture.url(:profile) unless @property.pictures.empty?
.list-group
  = link_to property_path(@property), class: 'list-group-item' do
    %i.fa.fa-info-circle
    = precede '&nbsp;&nbsp;'.html_safe do 
      \ 
      = t '.property_details'
    %i.fa.fa-chevron-right.list-group-chevron
  
  = link_to property_rates_path(@property), class: 'list-group-item' do
    %i.fa.fa-money
    = precede '&nbsp;&nbsp;'.html_safe do 
      \  
      = t '.rates'
    %i.fa.fa-chevron-right.list-group-chevron
    %span.badge= @property.rates.count
  
  = link_to property_pictures_path(@property), class: 'list-group-item' do
    %i.fa.fa-picture-o
    = precede '&nbsp;&nbsp;'.html_safe do 
      \  
      = t '.pictures'
    %i.fa.fa-chevron-right.list-group-chevron
    %span.badge= @property.pictures.count
  
  = link_to  rental_history_property_path(@property), class: 'list-group-item' do
    %i.fa.fa-archive
    = precede '&nbsp;&nbsp;'.html_safe do 
      \  
      = t '.rental_history'
    %i.fa.fa-chevron-right.list-group-chevron
  
  = link_to edit_property_path(@property), class: 'list-group-item' do
    %i.fa.fa-edit
    = precede '&nbsp;&nbsp;'.html_safe do 
      \  
      = t '.edit'
    %i.fa.fa-chevron-right.list-group-chevron