.portlet.property_item
  .portlet-header
    %h3.panel-title
      %i.fa.fa-home
      = link_to property.name, property
      / %small= "ID: #{property.slug}"
  .portlet-content
    .row
      .col-xs-4
        - if property.pictures.empty?
          .no_img_placer.panel.panel-default        
            = link_to property_pictures_path(property) do
              .text-muted
                %span.glyphicon.glyphicon-plus
                %br
                = t '.add_pictures'
        - else
          = image_tag property.pictures.first.picture.url(:thumb)
      .col-xs-8
        .pull-right
          = link_to edit_property_path(property), :class => "btn btn-primary" do
            %span.glyphicon.glyphicon-pencil
            = t '.edit'
          / = link_to '', :class => "btn btn-warning" do
          /   %span.glyphicon.glyphicon-new-window
          /   Book
          = link_to '', :class => "btn btn-secondary" do
            %span.glyphicon.glyphicon-calendar
            = t '.availability'
        .clearfix10
        .pull-right
          - property.tags.each do |t|
            .label.label-tertiary= link_to t, ''