- content_for :page_title do
  = t '.properties'
.pull-right#head_right
  = link_to new_property_path, :id => '#new_property_btn', :class => 'btn btn-primary btn-lg' do
    %span.glyphicon.glyphicon-plus
    = t '.new_property'

= paginate @properties
.clearfix10
= render @properties
