.row
  .col-xs-12
    %h4= t'.pictures'
.panel.panel-default
  .panel-body
    .row
      .col-md-12 
        = form_for :picture, :url => pictures_property_path(@property), :method => :put, :html => {:role => 'form', :multipart => true} do |f|
          .form-group
            .row-fluid
              = f.label t('.upload_a_picture')
            .row-fluid
              .pull-left
                = f.file_field :picture
              .pull-left
                = f.submit t('.update'), :class => 'btn btn-primary'   
    %hr 
    .row#pic_list
      .col-md-12
        = render @property.pictures