.row
  .col-md-3.col-sm-5
    = render 'property_side'
  .col-md-6.col-sm-7
    %h2= @property.name
    %h4= @property.unit_type.to_s.humanize
    %hr/
    %p
      = link_to '', :class => "btn btn-secondary" do
        %i.fa.fa-sign-in
        Upcoming Ocupancy
      = link_to '', :class => "btn btn-secondary" do
        %i.fa.fa-calendar
        Availability
    %hr/
    %ul.icons-list
      %li
        %i.icon-li.fa.fa-user
        = link_to @property.owner.full_name, @property.owner, :class => 'text-primary'
        (Owner)
      %li
        %i.icon-li.fa.fa-map-marker
        = @property.contact.address.location unless @property.contact.address.nil?
      %li
        %i.icon-li.fa.fa-tags
        - @property.tags.each do |t|
          .label.label-tertiary= link_to t, ''
    %br/
    %h4 Description
    %hr/
    %p= @property.description
    %br/
    %h4 Rental Details
    %hr/
    %br/
    %h4 Amenities
    %hr/        
  .col-md-3.col-sm-5.col-sidebar-right
    %p
      =link_to 'Reserve', '', class: "btn btn-jumbo btn-primary btn-block"
    %br/
    .well
      %h4 Rental Details
      %ul.icons-list.text-md
        %li
          %i.icon-li.fa.fa-location-arrow
          %strong Check-in
          = @property.readable_check_in
        %li
          %i.icon-li.fa.fa-location-arrow
          %strong Check-out
          = @property.readable_check_out
        %li
          %i.icon-li.fa.fa-location-arrow
          %strong Minumum Staying Days
          = @property.minimum_days