- content_for :jumbotron do
  .jumbotron#start_front
    .container
      .row
        .col-md-2
        .col-md-8
          %center
            %h1= t 'home.index.greeting'
            %br/
            %p= t '.description'
            = form_tag '', :class => 'form-inline', :role => 'form' do
              .form-group
                = text_field_tag :email, '', :class => 'form-control input-lg',placeholder: t('.enter_email')
                = link_to t('.start'), new_user_registration_path,:class => 'btn btn-secondary btn-lg', role: "button"
        .col-md-2
.clearfix
.row{:id => 'features'}
  %center
    .page-header 
      %h1= t '.features'
.row
  .row
    %br/
    %br/
  .row
    .col-md-4
      %center 
        %i.fa.fa-calendar-o.fa-5x.text-primary
        %br/
        %h2= t '.reservation_system.title'
        %p= t '.reservation_system.text'
    .col-md-4
      %center 
        %i.fa.fa-calendar.fa-5x.text-primary
        %br/
        %h2= t '.availability_chart.title'
        %p= t '.availability_chart.text'
    .col-md-4
      %center 
        %i.fa.fa-key.fa-5x.text-primary
        %br/
        %h2= t '.owner_login.title'
        %p= t '.owner_login.text'
  .row
    %br/
  .row
    .col-md-4
      %center 
        %i.fa.fa-archive.fa-5x.text-primary
        %br/
        %h2= t '.rental_history.title'
        %p= t '.rental_history.text'   
    .col-md-4
      %center 
        %i.fa.fa-money.fa-5x.text-primary
        %br/
        %h2= t '.seasonal_rates.title'
        %p= t '.seasonal_rates.text'
    .col-md-4
      %center
        %i.fa.fa-desktop.fa-5x.text-primary
        %br/
        %h2= t '.vacation_rental_website.title'
        %p= t '.vacation_rental_website.text'   
%br/  
.div{:id => 'features'}
  %center
    .page-header 
      %h1= t '.pricing'
.jumbotron{:id => 'pricing'}
  %center
    %h3= t '.free_trial.message'
    %h4= t '.free_trial.comment'
    %br/    
  = render 'pricing'
.div{:id => 'contact-form'}
  %center
    .page-header
      %h1= t '.contact'
.jumbotron{:id => 'contact'}      
  %center
  = render 'contact_form'
