.row
  .col-md-3
  .col-md-6
    .page-header 
      %h1 
        Welcome to SecondHouz!    
    .lead
      %p
        = "Hi #{current_user.full_name},"
      %br  
      %p
        Your 14-day free trial start now.
        Add a new property and discoover all the awesome features Secondhouz have for your vacational rental needs.
      %p
        If you have any questions don't hesitate to contact our
        = succeed "." do
          = link_to 'support team', ''
      %br
      %p
        %center= link_to 'Create new Property', welcome_plans_path(:o => :trial), :class => 'button btn btn-success btn-lg'
  .col-md-3
