= form_for @reservation, :format => :js, :html => {:id => 'inquiery_booking_form', :role => 'form'}, :remote => true, :method => :post do |f| 
  .row
    .col-md-12
      .form-group
        = f.label :property                    
        = f.select :property_id, options_for_select(account_properties_select_options), {}, :class => 'form-control'      
  .row#date_range_icon
    .col-md-6
      .form-group            
        = f.label :check_in, 'Arrival'  
        .input-group                 
          = f.text_field :check_in, :class => 'form-control datepicker'
          %a.input-group-addon{:trigger => :reservation_check_in, :href => '#'}
            %span.glyphicon.glyphicon-calendar
    .col-md-6
      = f.label :check_out , 'Departure'
      .input-group                
        = f.text_field :check_out, :class => 'form-control datepicker'
        %a.input-group-addon{:trigger => :reservation_check_out, :href => '#'}
          %span.glyphicon.glyphicon-calendar
  .row
    .col-md-6
      .form-group
        = label_tag :staying_field, 'Staying'
        .input-group                
          = text_field_tag :staying_field, '', :class => 'form-control'
          %span.input-group-addon Nights  
    .col-md-6   
      .row
        .col-md-6
          .form-group
            = f.label :num_adults, 'Adults'
            = f.text_field  :num_adults, :class => 'form-control'
        .col-md-6        
          .form-group
            = f.label :num_children, 'Children'
            = f.text_field  :num_children, :class => 'form-control'

  %hr
  %h4 Reservation Details
  .alert.alert-warning#booking_info
    %p Please choose arrival and departure dates.
  %hr
  .row
    .col-md-12
      .pull-right
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        = submit_tag 'Continue', :class => 'btn btn-primary', :disabled => true, :id => :book_btn
