.page-header
  .pull-left
    %h2 
      Reservations
  .pull-right#head_right
    = link_to new_reservation_path, :remote => true, :format => :js, :id => 'new_reservation_btn', :class => 'btn btn-success btn-lg', 'data-toggle' => 'modal',  'data-target' => '#inquiery_booking' do
      %span.glyphicon.glyphicon-plus
      New Reservation
    = render 'booking_popup'
  .clearfix        
.panel.panel-default
  .panel-body
    .pull-right
      .input-group
        = text_field_tag :q, '', :class => 'form-control', :placehoder => 'Search'
        .input-group-addon
          %span.glyphicon.glyphicon-search
  %table.table.table-striped
    %thead
      %th
      %th Type
      %th Created
      %th Property
      %th Tenant
      %th Staying
    - @reservations.each do |r|
      %tr
        %td= check_box_tag :rsv_sel
        %td= r.rsv_type.to_s.humanize
        %td= r.created_at.to_date
        %td= r.property.name
        %td
          - if r.tenant.present?
            = r.tenant.full_name
          - elsif r.guest.present?             
            = r.guest.name
          - else
            link_to('Add tenant', edit_reservation_path(r), :format => :js, :class => 'text-muted add_tenant', 'data-toggle' => 'modal',  'data-target' => '#inquiery_booking', :remote => true)
        %td
          = link_to "#{pluralize(r.nights_staying, 'night')}", r
          = " - #{r.check_in.to_s(:second_date)} - #{r.check_out.to_s(:second_date)}"          


