- content_for :page_title do
  Reservation  
.row
  .col-md-8
    %h3
      = "#{@reservation.rsv_type.to_s.humanize}"      
      %small.pull-right= @reservation.created_at.to_s(:short_date)
    %hr/
    %br/
    .row
      .col-md-6.col-sm-6
        %h4 Property:
        %table.table
          %tbody
            %tr
              %td{style: "width: 90px"}
                .thumbnail
                  = image_tag @reservation.property.pictures.first.picture.url(:thumb)
              %td
                %strong
                  = link_to @reservation.property.name, @reservation.property, :class => 'text-primary'
                %br/
                = @reservation.property.contact.address.street
                %br/
                = "#{@reservation.property.contact.address.city}, #{@reservation.property.contact.address.state} #{@reservation.property.contact.address.zip_code}"
                %br/
                = @reservation.property.contact.address.country
                %br/ 
                %strong Owner:
                = @reservation.property.owner.full_name             
      / /.col
      .col-md-6.col-sm-6
        %h4 Tenant/Guest:
        %table.table
          %tbody
            %tr
              - if @reservation.tenant?

              - else
                - if @reservation.guest.name.present?
                  %td{style: "width: 90px"}
                    .thumbnail
                      = image_tag 'default.png', size: "100x100"
                  %td
                    %strong= @reservation.guest.name
                    %br/
                    = @reservation.guest.contact.address.street
                    %br/
                    = @reservation.guest.contact.address.location
                    %br/
                    = @reservation.guest.contact.address.country
                    %br/
                    %strong Source: 
                    = @reservation.guest.source
                - else
                  %td
                    = link_to edit_reservation_path(@reservation), :format => :js, :class => 'btn btn-xs btn-secondary  add_tenant', 'data-toggle' => 'modal',  'data-target' => '#inquiery_booking', :remote => true do
                      %i.fa.fa-user
                      Add Tenant/Guest
    %hr/
    %h3 Reservation Details    
    %hr/
    .row
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Staying: 
            = @reservation.nights_staying
            nights
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Check-in: 
            = @reservation.check_in.to_date
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Check-in: 
            = @reservation.check_out.to_date            
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Adults: 
            = @reservation.num_adults
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Children: 
            = @reservation.num_children
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Id: 
            = @reservation.id          
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Status:  
            %span.label.label-default
              On Hold
    %br/
    %h3
      Reservation Notes
      %a.btn.btn-xs.btn-secondary.pull-right{href: "javascript:;"}
        %i.fa.fa-pencil
        Edit Notes
    %hr/
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    %br/
    %br/
    %br/
    %h3
      Activity
      %a.btn.btn-secondary.btn-xs.pull-right{href: "javascript:;"}
        %i.fa.fa-comment
        Add Comment
    %br/
    .table-responsive
      %table.table.table-striped
        %tbody
          - @reservation.logs.each do |a|
            %tr
              %td{style: "width: 125px;"}= a.created_at.to_s(:short_date)
              %td
                %p
                  %strong= a.user.full_name
                  created this reservation, with ID: 
                  %em.text-muted= "#{a.logeable.id}"
  .col-md-4.col-sidebar-right
    %p
      %a.btn.btn-jumbo.btn-primary.btn-block{href: "javascript:;"}
        Add Payment
        %br/
    %p
      %a.btn.btn-lg.btn-tertiary.btn-block{href: "javascript:;"} Remove Reservation
    %br/
    %h4 Reservation Actions
    %hr/
    .list-group
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-envelope
        %strong Send
        Reservation
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-pencil
        %strong Edit
        Reservation
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-print
        %strong Print
        Reservation
      = link_to @reservation, :method => :delete, :class=> 'list-group-item', data: { confirm: 'Are you sure you want to remove this reservation?' } do
        %i.fa.fa-times
        %strong Delete
        Reservation
    %br/
    %h4 Closed Invoices
    %hr/
    .list-group
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-036582
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-0335698
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-028756
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-0215893
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  / /.col
/ /.row