- content_for :page_title do
  Reservation  
.row
  .col-md-8
    %h3
      = "#{@reservation.rsv_type.to_s.humanize}"      
      %small.pull-right= @reservation.created_at.to_s(:short_date)
    %hr/
    %br/
    .row
      .col-md-6.col-sm-6
        %h4 Property:
        %table.table
          %tbody
            %tr
              %td{style: "width: 90px"}
                .thumbnail
                  = image_tag @reservation.property.pictures.first.picture.url(:thumb)
              %td
                %strong
                  = link_to @reservation.property.name, @reservation.property, :class => 'text-primary'
                %br/
                = @reservation.property.contact.address.street
                %br/
                = "#{@reservation.property.contact.address.city}, #{@reservation.property.contact.address.state} #{@reservation.property.contact.address.zip_code}"
                %br/
                = @reservation.property.contact.address.country
                %br/                
      / /.col
      .col-md-6.col-sm-6
        %h4 Tenant/Guest:
        %table.table
          %tbody
            %tr
              %td{style: "width: 90px"}
                .thumbnail
                  %img{alt: "Avatar", src: "./img/avatars/avatar-2.jpg", style: "width: 90px;"}/
              %td
                %strong Nikita Chanel Inc.
                %br/
                1050 St Rose Pkwy, Suite 75
                %br/
                Las Vegas, NV 89183
                %br/
                US
    %hr/
    %h3 Reservation Details    
    %hr/
    .row
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Staying: 
            = @reservation.nights_staying
            nights
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Check-in: 
            = @reservation.check_in.to_date
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Check-in: 
            = @reservation.check_out.to_date            
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Adults: 
            = @reservation.num_adults
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Children: 
            = @reservation.num_children
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Id: 
            = @reservation.id
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Status:  
            %span.label.label-default
              On Hold
    %br/
    %h3
      Reservation Notes
      %a.btn.btn-xs.btn-secondary.pull-right{href: "javascript:;"}
        %i.fa.fa-pencil
        Edit Notes
    %hr/
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    %br/
    %br/
    %br/
    %h3
      Activity
      %a.btn.btn-secondary.btn-xs.pull-right{href: "javascript:;"}
        %i.fa.fa-comment
        Add Comment
    %br/
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %td{style: "width: 125px;"} Sep 20th, 2013
            %td
              %p
                %strong Loyalty Discount Applied
              %p Thanks for working with us again! We've applied the discount to your invoice.
          %tr
            %td{style: "width: 125px;"} Sep 18th, 2013
            %td
              %p
                %strong Submitted Payment
              %p Nikita submitted a payment of $3547 for invoice INV-038273
  .col-md-4.col-sidebar-right
    %p
      %a.btn.btn-jumbo.btn-primary.btn-block{href: "javascript:;"}
        Add Payment
        %br/
    %p
      %a.btn.btn-lg.btn-tertiary.btn-block{href: "javascript:;"} Remove Reservation
    %br/
    %h4 Reservation Actions
    %hr/
    .list-group
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-envelope
        %strong Send
        Invoice
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-pencil
        %strong Edit
        Invoice
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-print
        %strong Print
        Invoice
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-copy
        %strong Duplicate
        Invoice
      %a.list-group-item{href: "javascript:;"}
        %i.fa.fa-times
        %strong Delete
        Invoice
    %br/
    %h4 Closed Invoices
    %hr/
    .list-group
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-036582
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-0335698
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-028756
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %a.list-group-item{href: "javascript:;"}
        %h5
          %i.fa.fa-file-text-o
          INV-0215893
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  / /.col
/ /.row