- content_for :page_title do
  Reservation  
= render 'booking_popup'
.row
  .col-md-8
    %h3
      = "#{@reservation.rsv_type.to_s.humanize}"      
      %small.pull-right= @reservation.created_at.to_s(:short_date)
    %hr/
    %br/
    .row
      .col-md-6.col-sm-6
        %h4 Property:
        %table.table
          %tbody
            %tr
              %td{style: "width: 90px"}
                .thumbnail
                  = image_tag @reservation.property.pictures.first.picture.url(:thumb)
              %td
                %strong
                  = link_to @reservation.property.name, @reservation.property, :class => 'text-primary'
                %br/
                = @reservation.property.contact.address.street
                %br/
                = "#{@reservation.property.contact.address.city}, #{@reservation.property.contact.address.state} #{@reservation.property.contact.address.zip_code}"
                %br/
                = @reservation.property.contact.address.country
                %br/ 
                %strong Owner:
                = @reservation.property.owner.full_name             
      / /.col
      .col-md-6.col-sm-6
        %h4 Tenant/Guest:
        %table.table
          %tbody
            %tr
              - if @reservation.tenant?

              - else
                - if @reservation.guest.name.present?
                  %td{style: "width: 90px"}
                    .thumbnail
                      = image_tag 'default.png', size: "100x100"
                  %td
                    %strong= @reservation.guest.name
                    %br/
                    = @reservation.guest.contact.address.street
                    %br/
                    = @reservation.guest.contact.address.location
                    %br/
                    = @reservation.guest.contact.address.country
                    %br/
                    %strong Source: 
                    = @reservation.guest.source
                - else
                  %td
                    = link_to edit_reservation_path(@reservation), :format => :js, :class => 'btn btn-xs btn-secondary  add_tenant', 'data-toggle' => 'modal',  'data-target' => '#inquiery_booking', :remote => true do
                      %i.fa.fa-user
                      Add Tenant/Guest
    %hr/
    %h3 Reservation Details    
    %hr/
    .row
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Staying: 
            = @reservation.nights_staying
            nights
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Check-in: 
            = @reservation.check_in.to_date
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Check-in: 
            = @reservation.check_out.to_date            
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Adults: 
            = @reservation.num_adults
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Children: 
            = @reservation.num_children
      .col-md-4
        %ul.icons-list
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Id: 
            = @reservation.id          
          %li
            %i.icon-li.fa.fa-caret-right
            %strong Status:  
            %span.label.label-default
              On Hold
    %br/
    %h3
      Reservation Notes
      = link_to edit_notes_reservation_path(@reservation), :format => :js, :class => 'btn btn-xs btn-secondary pull-right edit_notes', 'data-toggle' => 'modal',  'data-target' => '#inquiery_booking', :remote => true do
        %i.fa.fa-pencil
        Edit Notes      
    %hr/
    %p= @reservation.notes
    %br/    
    %h3
      Activity
    %br/
    .table-responsive
      %table.table.table-striped
        %tbody
          = render @reservation.logs            
  = render 'rsv_detail_sidebar'