%h1= t '.listing_letters'

%table
  %tr
    %th= t '.name'
    %th= t '.body'
    %th= t '.document'
    %th
    %th
    %th

  - @letters.each do |letter|
    %tr
      %td= letter.name
      %td= letter.body
      %td= letter.document
      %td= link_to t('.show'), letter
      %td= link_to t('.edit'), edit_letter_path(letter)
      %td= link_to t('.destroy'), letter, :method => :delete, :data => { :confirm => t('.are_you_sure') }

%br

= link_to t('.new_letter'), new_letter_path
