%p#notice= notice

%p
  %b= "#{t('.name'):}"
  = @letter.name
%p
  %b= "#{t('.body')}:"
  = @letter.body
%p
  %b= "#{t('.document')}:" Document:
  = @letter.document

= link_to t('.edit'), edit_letter_path(@letter)
\|
= link_to t('.back'), letters_path
