= form_for @picture do |f|
  - if @picture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picture.errors.count, "error")} #{t('.prohibited_this_picture_from_being_saved')}:"
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit t('.save')
