%h1= t '.listing_pictures'

%table
  %tr
    %th
    %th
    %th

  - @pictures.each do |picture|
    %tr
      %td= link_to t('.show'), picture
      %td= link_to t('.edit'), edit_picture_path(picture)
      %td= link_to t('.destroy'), picture, :method => :delete, :data => { :confirm => t('.are_you_sure') }

%br

= link_to t('.new_picture'), new_picture_path
