= form_for @reservation, :url => reservation_path(@reservation), :format => :json, :remote => true, :html => {:id => 'inquiery_booking_form_tenant', :role => 'form'} do |f|
  .row
    .col-md-12
      .form-group
        = f.label :notes, t('.notes')
        = f.text_area :notes, :class => 'form-control', rows: 6
  .row
    .col-md-12
      .pull-right
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t('.close')
        = submit_tag 'Book', :class => 'btn btn-warning'
