= render_model_errors @rate
= form_for :rate, :url => property_rates_path(@property), :remote => true, :html => {:role => 'form', :id => 'rate_form_remote'} do |f|  
  .form-group
    .row
      .col-md-4
        = f.label :type
        = f.select :type, rate_select_options(:types), {}, :class => 'form-control'
      .col-md-8
        = f.label :name
        = f.text_field :name, :class => 'form-control'  
  .form-group
    = f.label 'Value'
    .row
      .col-md-4
        = f.select :value_type, rate_select_options(:value_types), {}, :class => 'form-control'
      .col-md-8
        = f.text_field :value, :class => 'form-control'      
  .form-group
    .row
      .col-md-4
        .checkbox    
          = f.label :always_apply, 'Always apply in reservation'
          = f.check_box :always_apply
      .col-md-8
        .checkbox
          = f.label :hold_for_return, 'Hold for further return'
          = f.check_box :hold_for_return
  .form-group
    .row
      .col-md-4
        .checkbox
          = f.label :seasonable, 'Season Rate'
          = f.check_box :seasonable
      .col-md-8
        .input-daterange.input-group#datepicker
          %span.input-group-addon from
          = f.text_field :start_season, {:class => 'form-control', :disabled => true}.delete_if{|k| @rate.seasonable && k.eql?(:disabled)}
          %span.input-group-addon to
          = f.text_field :end_season, {:class => 'form-control', :disabled => true}.delete_if{|k| @rate.seasonable && k.eql?(:disabled)}
  %hr          
  .pull-right= f.submit 'Save', :class => 'btn btn-primary btn-lg'
  .clearfix