.row
  .col-md-3
    = render 'properties/property_side'
  .col-md-9
    %h3 Property Rates
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis arcu id purus sodales bibendum.
    .row
      .col-xs-9
      .col-xs-3
        = link_to new_property_rate_path(@concern_id), :remote => true, :format => :js, :id => 'new_property_rate', :class => 'btn btn-secondary col-sm-12', 'data-toggle' => 'modal', 'data-target' => '#property_rate_form' do
          %span.glyphicon.glyphicon-plus
          New
        = render 'properties/rates/form_modal'
    %table.table.table-bordered.table-highlight#property_rates_list
      %thead
        %tr
          %th Type
          %th Name
          %th Value
          %th
      %tbody
        - @rates.each do |r|
          %tr
            %td= r.type.to_s.titleize
            %td= r.name
            %td
              %strong
                - if r.value_type == :amount
                  %span $
                - else
                  %span %
              = r.value
            %td
              = link_to 'Change', edit_property_rate_path(@concern_o, r), :remote => true, :format => :js, :class => 'btn btn-xs btn-primary', :title => "Update rate", 'data-toggle' => 'modal', 'data-target' => '#property_rate_form'
