%h1= t '.listing_activities'

%table
  %tr
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= link_to t('.show'), activity
      %td= link_to t('.edit'), edit_activity_path(activity)
      %td= link_to t('.destroy'), activity, method: :delete, data: { confirm: t('.are_you_sure') }

%br

= link_to t('.new_activity'), new_activity_path
