= form_for @rate, :html => {:role => 'form', :class => 'property_form'} do |f|
  - if @rate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rate.errors.count, "error")} prohibited this rate from being saved:"
      %ul
        - @rate.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :type
    = f.text_field :type, :class => 'form-control'
  .form-group
    = f.label :always_apply
    = f.check_box :always_apply
  .form-group
    = f.label :hold_for_return
    = f.check_box :hold_for_return
  .actions
    = f.submit 'Save', :class => 'btn btn-success'
    = link_to 'Cancel', rates_path
