= render_model_errors @rate
= form_for @rate, :html => {:role => 'form', :class => 'property_form'} do |f|  
  .form-group
    .row
      .col-md-4
        = f.label :type
        = f.select :type, rate_select_options(:types), {}, :class => 'form-control'
      .col-md-8
        = f.label :name
        = f.text_field :name, :class => 'form-control'  
  .form-group
    = f.label 'Value'
    .row
      .col-md-4
        = f.select :value_type, rate_select_options(:value_types), {}, :class => 'form-control'
      .col-md-8
        = f.text_field :value, :class => 'form-control'      
  .form-group
    .row
      .col-md-6
        .checkbox    
          = f.label :always_apply, 'Always apply in reservation'
          = f.check_box :always_apply
      .col-md-6
        .checkbox
          = f.label :hold_for_return, 'Hold for further return'
          = f.check_box :hold_for_return
  .form-group
    .checkbox
      = f.label :seasonable, 'Season Rate'
      = f.check_box :seasonable
    = f.hidden_field :start_season, :class => 'form-control'
    = f.hidden_field :end_season, :class => 'form-control'
  .row  
    .col-md-12    
      .datepicker_range{:style => "#{@rate.seasonable ? '' : 'display: none'}"}
  %hr          
  .row
    .col-md-4
      = f.submit 'Save', :class => 'btn btn-primary btn-lg col-md-8'
    .col-md-8
      - if @rate.persisted?    
        .pull-right= link_to 'Delete', @rate, :class => 'text-danger', :method => :delete, data: { confirm: 'Are you sure you want to remove this rate?' } 
