%p#notice= notice

%p
  %b= "#{t('.name'):}"
  = @rate.name
%p
  %b= "#{t('.type')}:"
  = @rate.type
%p
  %b= "#{t('.always_apply')}:"
  = @rate.always_apply
%p
  %b= "#{t('.hold_for_return')}:"
  = @rate.hold_for_return

= link_to t('.edit'), edit_rate_path(@rate)
\|
= link_to t('.back'), rates_path
