!!!
%html{:lang => "en"}
  %head  
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Houz.io - Vacation Rental Software as a Service
    = csrf_meta_tags
    / Bootstrap core CSS
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / Just for debugging purposes. Don't actually copy this line!
    /[if lt IE 9] <script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script>
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            %i.fa.fa-home.text-primary
            Houz.io
            %sup
              %small.text-secondary Beta
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              = link_to t('.features'), '#features'
            %li
              = link_to t('.pricing'), '#pricing'
            %li
              = link_to t('.contact'), '#contact'

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              .pull-right
                %ul.nav.navbar-nav
                  %li
                    = link_to t('.dashboard'), dashboard_path
                  %li
                    = link_to t('.logout'), destroy_user_session_path, :method => :delete
            - else
              .pull-right
                %ul.nav.navbar-nav
                  %li
                    = link_to t('.login'), login_path
              / = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'navbar_login', :role => "form", :class => 'navbar-form navbar-right'}) do |f|
              /   .form-group
              /     = f.email_field :email, :placeholder => "Email", :class => 'form-control'
              /   .form-group
              /     = f.password_field :password, :placeholder => "Password", :class => 'form-control'
              /   = f.submit "Sign in", :class => 'button btn btn-default'

    - if content_for? :jumbotron
      = yield :jumbotron
    
    #main_content.container
      - flash.each do |name, msg|
        .alert{:class => "alert-#{name == :notice ? "success" : "danger"}"}
          %a.close{'data-dismiss' => 'alert'}x
          = msg
      = yield
    %hr
      = render 'common/footer'      