!!!
%html
  %head
    %title= "#{content_for?(:page_title) ? yield(:page_title) : 'Dashboard'} - Secondhouz.com"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "backend", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "backend", "data-turbolinks-track" => true, :type => 'text/javascript'
    = csrf_meta_tags
  %body{:class => "#{controller.controller_name} #{controller.controller_name}_#{controller.action_name}"}
    #blackout
    #main_spinner
      = image_tag('spinner_lg.gif')
      %center Loading
    #spinner.hide
      %center= image_tag('spinner_mid.gif')      
    #wrapper
      %header#header
        %h1#site-logo
          %a{href: "/"}
            = image_tag 'canvas_admin/logos/logo.png'
        %a#top-bar-toggle.navbar-toggle.collapsed{"data-target" => ".top-bar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %i.fa.fa-cog
        %a#sidebar-toggle.navbar-toggle.collapsed{"data-target" => ".sidebar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %i.fa.fa-list
      / header
      %nav#top-bar.collapse.top-bar-collapse
        %ul.nav.navbar-nav.pull-left
          %li
            = link_to root_path do
              %i.fa.fa-home
              Home
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
              Dropdown
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "javascript:;"}
                  %i.fa.fa-user>
                  \  Example #1
              %li
                %a{href: "javascript:;"}
                  %i.fa.fa-calendar>
                  \  Example #2
              %li.divider
              %li
                %a{href: "javascript:;"}
                  %i.fa.fa-tasks>
                  \  Example #3
        %ul.nav.navbar-nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
              %i.fa.fa-user
              = current_user.full_name
              %span.caret
            %ul.dropdown-menu{role: "menu"}              
              %li
                = link_to edit_user_registration_path do 
                  %i.fa.fa-cogs
                  \  Account Settings
              %li.divider
              %li
                = link_to destroy_user_session_path, :method => :delete do
                  %i.fa.fa-sign-out
                  \  Logout
      / /#top-bar
      #sidebar-wrapper.collapse.sidebar-collapse
        #search
          %form
            %input.form-control.input-sm{name: "search", placeholder: "Search...", type: "text"}/
            %button#search-btn.btn{type: "submit"}
              %i.fa.fa-search
        / #search
        %nav#sidebar
          %ul#main-nav.open-active
            %li{:class => controller_name.eql?('dashboard') ? 'active' : ''}
              = link_to dashboard_path do
                %i.fa.fa-dashboard
                Dashboard
            %li{:class => controller_name.eql?('properties') ? 'active' : ''}
              = link_to properties_path do
                %i.fa.fa-list
                Properties                           
            %li.dropdown{:class => controller_name.eql?('reservations') ? 'active' : ''}
              %a{href: "javascript:;"}
                %i.fa.fa-calendar-o
                Reservations
                %span.caret
              %ul.sub-nav
                %li
                  = link_to reservations_path do
                    %i.fa.fa-list
                    List of Reservations
            %li.dropdown
              %a{href: "javascript:;"}
                %i.fa.fa-group
                User Management
                %span.caret
              %ul.sub-nav
                %li
                  %a{href: "./ui-buttons.html"}
                    %i.fa.fa-hand-o-up
                    Agents
                %li
                  %a{href: "./ui-tabs.html"}
                    %i.fa.fa-list
                    Owners
                %li
                  %a{href: "./ui-popups.html"}
                    %i.fa.fa-asterisk
                    Tenants
      #content
        #content-header
          %h1 
            - if content_for? :page_title
              = yield :page_title
        #content-container
          / place = yield  here
          = yield
    %footer#footer
      %ul.nav.pull-left
        %li
          Copyright © 2014, Secondhouz.com.
    - if content_for? :modals
      = yield :modals